<mat-accordion *ngIf="posts.length >0" >
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>
    <p>
      {{post.content}}
      <mat-action-row>
        <button mat-button color="primary">EDIT</button>
        <button mat-button color="warn" (click)="onDelete(posts.id)"  >DELETE</button>
        <button mat-button color="primary">ADD</button>
      </mat-action-row>
    </p>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-4"*ngIf="posts.length <= 0 "> there is products </p>
